# Ignore everything
*

# Allowed Folders
!/gradle

!/common
!/fabric
!/spigot

# Re-ignore
*/.gradle/
*/.idea/
*/build/
*/out/

*.iml

# Allowed Files
!.gitignore
!gradle.properties
!settings.gradle
!build.gradle
!gradlew
!gradlew.bat
!LICENSE
!README.md
